---
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="bigdata_landpage/src/styles.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>BIG DATA</title>
	</head>
	<body class="flex  justify-center bg-black text-white p-20">
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	@reference "../styles/global.css"
	
	html{
		font-family: system-ui, sans-serif; 
		background: •#13151a;
		color:•#fff;
	},
	body {
		display: grid;
		justify-content: center;
		
	}
</style>
